header{
    background-color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
}
body{
    background-color: black;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li{
    display: inline-block;
    padding: 10px;
}
a{
    color: whitesmoke;
}
#selected{
    color: red;
}
button{
    background-color: red;
    color: whitesmoke;
}